[Desktop Entry]
Version=1.0
Name=Televisión Digital Abierta
GenericName=Televisión Digital Abierta
Comment=Visualizar Televisión Digital Abierta
Exec=/usr/bin/wari
Icon=tda
Terminal=false
Type=Application
Categories=AudioVideo;Player;Huayra;
Keywords=Player;TDA;
