[Desktop Entry]
Encoding=UTF-8
Name=Chat Online de Huayra
Comment=Chat con otros usuario de Huayra con X-Chat
Exec=xchat --url irc://irc.freenode.net/huayragnulinux
Icon=huayra-chat-symbolic
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
