[Desktop Entry]
Name=Keyboard
Comment=Virtual Keyboard
Name[es]=Teclado Virtual
Comment[es]=Teclado Virtual
Exec=matchbox-keyboard
Type=Application
Icon=matchbox-keyboard.png
Categories=Panel;Utility;MB;Accessibility;
X-MB-INPUT-MECHANSIM=True
