[Desktop Entry]
Name=Primeros Pasos en Huayra
Comment=Primeros Pasos en Huayra
Exec=/usr/bin/huayra-bullets
Terminal=false
Type=Application
Icon=help-browser
Categories=Documentation;
