#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Florence Virtual Keyboard
Name[es]=Florence Teclado Virtual
Comment=Florence Virtual Keyboard
Comment[es]=Florence Teclado Virtual
Exec=florence
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/florence.svg
Categories=Application;Accessibility;