Source: huayra-desktop
Section: x11
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends:  debhelper (>= 8)
Standards-Version: 3.9.6
Homepage: http://huayra.conectarigualdad.gob.ar

Package: huayra-conig
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends},
  arduino,
  audacity,
  avogadro,
  avogadro-data,
  avr-libc,
  babiloo,
  babiloo-dicts-spanish,
  bkchem,
  blender,
  brasero,
  cdpedia-launcher,
  celestia,
  conectar-educativo,
  epoptes,
  epoptes-client,
  epoptes-client-config,
  etoys,
  etoys-doc,
  programa2mp,
  sopi,
  klavaro,
  bluefish,
  dvd-styler,
  euler,
  freemind,
  freepats,
  frei0r-plugins,
  fritzing,
  gambas3,
  gcc-avr,
  gcompris,
  gcompris-sound-es,
  geany,
  geany-plugins,
  geogebra,
  ginga,
  gobby-0.5,
  gcu-bin,
  huayra-bullets,
  huayra-compartir,
  huayra-firmware-full-support,
  huayra-juegos,
  huayra-printing-full-support,
  huayra-ritmos,
  huayra-ritmos-extra,
  huayra-simulaciones-interactivas,
  huayra-visor-manual,
  icaro,
  jclic,
  jmol,
  josm,
  josm-l10n,
  josm-plugins,
  librecad,
  mypaint,
  pd-aubio,
  pd-csound,
  pd-cyclone,
  pd-extended,
  pd-purepd,
  pilas-engine-bloques,
  pilas-tutoriales (>= 0.2),
  puredata,
  puredata-core,
  puredata-doc,
  puredata-extra,
  puredata-gui,
  puredata-import,
  puredata-utils,
  python-openssl,
  python-pilas,
  scilab,
  scilab-doc,
  stellarium,
  scratch,
  tuxguitar,
  tuxpaint,
  xfonts-75dpi,
  xfonts-base,
  xfonts-encodings,
  xfonts-scalable
Description: Configuraciones de Huayra para Conectar Igualdad
 Este meta-paquete instala las aplicaciones necesarias para tener
 un entorno para trabajar o estudiar para el programa Conectar Igualdad.
 This is a dummy package.

Package: huayra-desktop-mate
Architecture: all
Provides: huayra-desktop-basic
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends},
  at-spi2-core,
  atril,
  blueman,
  caja-open-terminal,
  docky,
  engrampa,
  eom,
  ffmpegthumbnailer,
  firefox-installer,
  galculator,
  gnome-packagekit,
  huayra-about,
  huayra-avatares,
  huayra-backgrounds-huaypapers,
  huayra-backgrounds-liso,
  huayra-desktop-common,
  huayra-desktop-mate-settings,
  huayra-icon-theme-liso,
  huayra-screensaver-themes,
  huayra-sound-theme,
  huayra-themes-liso,
  lightdm,
  lightdm-gtk-greeter,
  locales,
  mate-desktop-environment,
  mate-notification-daemon,
  mate-media,
  mate-power-manager,
  mate-screensaver,
  mate-system-monitor,
  mate-utils,
  mozo,
  notification-daemon,
  pk-updates-notifier,
  pluma
Description: Entorno de escritorio Huayra con Mate
 Este paquete contiene el escritorio Mate para Huayra.
 This is a dummy package.

Package: huayra-desktop-mate-settings
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends}, gconf-editor, huayra-desktop-common
Description: Configuraciones del entorno de escritorio Huayra con Mate
 Este paquete contiene configuraciones del entorno Mate para Huayra
 This is a dummy package.

Package: huayra-desktop-common
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian, huayra-mate-screensavers
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends}, huayra-fonts, dconf-tools,
  huayra-screensavers, python (>= 2.7), python (<< 2.8),
  xserver-xorg-input-all, xserver-xorg-video-all, xserver-xorg
Description: Configuraciones comunes para los entornos de escritorio
 Opciones comunes para los entornos de escritorio

Package: huayra-apps
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends},
  acpi,
  acpi-support,
  acpi-support-base,
  alsa-base,
  alsa-utils,
  apt-xapian-index,
  arista,
  bash-completion,
  calibre,
  caribou,
  clementine,
  colord,
  consolekit,
  cowsay,
  cpufrequtils,
  cups,
  cups-pk-helper,
  darktable,
  default-jre,
  deja-dup,
  dia,
  djmount,
  djvulibre-bin,
  dnsmasq-base,
  dnsutils,
  dosfstools,
  dvb-apps,
  e2fsprogs (>= 1.42.5-1),
  eject,
  extlinux,
  flashplugin-nonfree,
  foomatic-db,
  foomatic-filters,
  ghostscript,
  ghostscript-cups,
  gimp,
  gimp-gutenprint,
  gimp-paint-studio,
  git,
  git-man,
  gitg,
  gnome-subtitles,
  gnucap,
  gparted,
  gscan2pdf,
  gstreamer0.10-fluendo-mp3,
  gstreamer0.10-plugins-bad,
  gstreamer0.10-plugins-good,
  gstreamer0.10-plugins-ugly,
  gstreamer0.10-pulseaudio,
  gthumb,
  gtk-recordmydesktop,
  gucharmap,
  guvcview,
  httrack,
  huayra-apps-settings,
  huayra-caripela,
  huayra-identinet,
  huayra-libreoffice,
  huayra-mu,
  huayra-stopmotion,
  huayra-tda-player,
  hwinfo,
  icedove,
  icedove-l10n-es-ar,
  icedtea-7-plugin,
  iceowl-extension,
  imagej,
  inkscape,
  iptux,
  ipython,
  less,
  libgl1-mesa-dri,
  libnss-mdns,
  lm-sensors,
  lmms,
  lshw,
  manpages-es,
  manpages-es-extra,
  mawk,
  mc,
  mdns-scan,
  menu,
  menu-xdg,
  mixxx,
  mixxx-themes-huayra,
  mobile-broadband-provider-info,
  modemmanager,
  network-manager-gnome,
  network-manager-openvpn-gnome,
  ninja-ide,
  ntfs-3g,
  ntpdate,
  openshot,
  os-prober,
  packagekit,
  pciutils,
  pepperflashplugin-nonfree,
  pidgin,
  pulseaudio,
  pulseaudio-utils,
  python-pygame,
  python-serial,
  python-tk,
  python-webkit,
  python-wxglade,
  rar,
  rfkill,
  scribus,
  shotwell,
  simple-scan,
  software-properties-gtk,
  sozi,
  sshfs,
  sudo,
  synapse,
  synaptic,
  system-config-printer,
  tbo,
  transmission-gtk,
  ttf-aenigma,
  tupi,
  unrar,
  usb-modeswitch,
  vim,
  vinagre,
  vlc,
  vlc-plugin-pulse,
  wine,
  wireless-tools,
  xchat,
  xdg-user-dirs,
  xdg-user-dirs-gtk,
  xdg-utils,
  xournal,
  xsane,
  xterm,
  youtube-dl,
  zip
Description: Suite completa de aplicaciones para Huayra
 Aqui se encuentran una serie de aplicaciones pensadas para Huayra.
 .
 Este dummy meta-paquete depende de un conjunto de aplicaciones que proveen
 las herramientas necesarias para tener un entorno para trabajar o estudiar.

Package: huayra-apps-settings
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends}, huayra-tuxguitar-settings,
         python (>= 2.7), python (<< 2.8)
Description: Suite completa de aplicaciones para Huayra (settings)
 Aqui se encuentran las opciones de configuracion de las aplicaciones pensadas
 para Huayra.


Package: huayra-base
Architecture: all
Conflicts: huayra-desktop, huayra-apps-debian
Replaces: huayra-desktop, huayra-apps-debian
Depends: ${misc:Depends},
  avahi-daemon,
  huayra-archive-keyring,
  plymouth-themes-huayra-ocho,
  huayra-grub-themes-liso
Description: Paquetes base de Huayra
 Paquetes del sistema base de Huayra.

Package: huayra-printing-full-support
Architecture: all
Depends: ${misc:Depends},
  hpijs-ppds,
  hplip,
  libsane-extras,
  libsane-hpaio,
  openprinting-ppds,
  printer-driver-foo2zjs,
  printer-driver-hpijs,
  printer-driver-hpcups
Description: Meta-paquete que depende de paquetes que brindan soporte de impresión
 Instala drivers y programas que dan soporte en una gran variedad de impresoras.
 This is a dummy package.

Package: huayra-firmware-full-support
Architecture: all
Depends: ${misc:Depends},
  bluez-firmware,
  firmware-atheros,
  firmware-brcm80211,
  firmware-intelwimax,
  firmware-iwlwifi,
  firmware-linux,
  firmware-linux-nonfree,
  firmware-ralink,
  zd1211-firmware
Description: Firmware para distintos dispositivos en Huayra
 Instala firmware para distintos dispositivos que lo requieren, mayormente
 placas WiFi y Bluetooth.
 This is a dummy package.

Package: huayra-libreoffice
Architecture: all
Conflicts: libobasis4.2-ooofonts,
  libobasis4.2-gnome-integration,
  libreoffice4.2,
  libreoffice4.2-debian-menus,
  libreoffice4.2-es,
  libreoffice4.2-en-us,
  libreoffice4.2-dict-es,
  libreoffice4.2-dict-en,
  libreoffice4.2-base,
  libreoffice4.2-calc,
  libreoffice4.2-draw,
  libreoffice4.2-impress,
  libreoffice4.2-math,
  libreoffice4.2-writer
Replaces: libobasis4.2-ooofonts,
  libobasis4.2-gnome-integration,
  libreoffice4.2,
  libreoffice4.2-debian-menus,
  libreoffice4.2-es,
  libreoffice4.2-en-us,
  libreoffice4.2-dict-es,
  libreoffice4.2-dict-en,
  libreoffice4.2-base,
  libreoffice4.2-calc,
  libreoffice4.2-draw,
  libreoffice4.2-impress,
  libreoffice4.2-math,
  libreoffice4.2-writer
Depends: ${misc:Depends},
  libreoffice,
  libreoffice-core,
  libreoffice-gtk,
  libreoffice-gtk3,
  libreoffice-gnome,
  libreoffice-common,
  libreoffice-avmedia-backend-vlc,
  libreoffice-l10n-es,
  libreoffice-pdfimport,
  libreoffice-base,
  libreoffice-base-drivers,
  libreoffice-calc,
  libreoffice-draw,
  libreoffice-impress,
  libreoffice-math,
  libreoffice-writer,
  browser-plugin-libreoffice,
  myspell-es,
  aspell-es
Description: Suite completa de ofimática de LibreOffice
 Aquí se encuentra el paquete completo de ofimática de LibreOffice
 This is a dummy package.

Package: huayra-juegos
Architecture: all
Depends: ${misc:Depends},
  atomix,
  crack-attack,
  eboard,
  enigma,
  gnome-sudoku,
  gnuchess,
  huayra2048,
  numptyphysics,
  minetest,
  minetest-server,
  supertux,
  tierraluna
Description: Juegos seleccionados para Huayra
 Aquí se encuentra un listado de juegos seleccionados
 para la distribucion Huayra
 this is a dummy package.

Package: huayra-avatares
Architecture: all
Depends: ${misc:Depends}
Description: Avatares para personalizar tu sesion
 Aquí se encuentra un listado de avatares diseñados
 desde la distribucion Huayra

Package: huayra-desktop-gnome
Architecture: all
Depends: ${misc:Depends},
 adwaita-icon-theme (>= 3.14),
 dconf-gsettings-backend (>= 0.22),
 dconf-tools (>= 0.22),
 eog (>= 3.14),
 evince (>= 3.14),
 file-roller (>= 3.14),
 gdm3 (>= 3.14),
 gedit,
 gnome-backgrounds (>= 3.14),
 gnome-bluetooth (>= 3.14),
 gnome-calculator (>= 3.14),
 gnome-control-center (>= 1:3.14),
 gnome-disk-utility (>= 3.12),
 gnome-font-viewer (>= 3.14),
 gnome-keyring (>= 3.14),
 gnome-menus (>= 3.13),
 gnome-online-accounts (>= 3.14),
 gnome-packagekit (>= 3.14),
 gnome-screenshot (>= 3.14),
 gnome-session (>= 3.14),
 gnome-settings-daemon (>= 3.14),
 gnome-shell (>= 3.14),
 gnome-shell-extensions (>= 3.14),
 gnome-sushi (>= 3.12),
 gnome-system-log (>= 3.9.90),
 gnome-system-monitor (>= 3.14),
 gnome-terminal (>= 3.14),
 gnome-themes-standard (>= 3.14),
 gnome-tweak-tool (>= 3.14),
 gnome-user-share (>= 3.14),
 gsettings-desktop-schemas (>= 3.14),
 gstreamer1.0-plugins-base (>= 0.10.36),
 gstreamer1.0-plugins-good (>= 0.10.31),
 gstreamer1.0-pulseaudio (>= 0.10.31),
 gtk2-engines (>= 2.20.2),
 gucharmap (>= 1:3.14),
 gvfs-backends (>= 1.22),
 gvfs-bin (>= 1.22),
 gvfs-fuse (>= 1.22),
 huayra-backgrounds-pixelarte,
 huayra-desktop-common,
 huayra-desktop-gnome-settings,
 huayra-icon-theme-ocho,
 huayra-themes-ocho,
 libcanberra-pulse,
 metacity (>= 1:2.34),
 mousetweaks (>= 3.12),
 nautilus (>= 3.14),
 network-manager-gnome,
 policykit-1-gnome (>= 0.105),
 pulseaudio,
 sound-theme-freedesktop
Description: Escritorio para Huayra con Gnome Shell
 Dependencias necesarias para ejecutar gnome shell en Huayra basado
 en task-desktop-gnome
 .
 This is a dummy package

Package: huayra-desktop-gnome-settings
Architecture: all
Depends: ${misc:Depends},
Description: Escritorio para Huayra con Gnome Shell (opciones por defecto)
 Opciones por defecto del escritorio de Huayra con Gnome Shell

