[Desktop Entry]
Encoding=UTF-8
Name=Chat Online de Huayra
Comment=Chat con otros usuario de Huayra con X-Chat
Exec=xchat --url irc://irc.freenode.net/huayragnulinux
Icon=chat-huayra
Terminal=false
Type=Application
Categories=Network;Huayra;
StartupNotify=true
