[Desktop Entry]
Name=Correo Electronico
Comment=Lector de Correos Electronicos
GenericName=Correo Electronico
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=mail_new.png
Categories=Network;Email;News;GTK;
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupWMClass=Icedove-bin
StartupNotify=true
Hidden=true
