@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(fonts/archivoblack-WoAoVT7K3k7hHfxKbvB6B7l7GphWAz8WeTz_gldd2FI.woff) format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 700;
  src: local('Gudea Bold'), local('Gudea-Bold'), url(fonts/gudeabold-0G3znrCR3kOG5vWjf8tw-g.woff) format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-weight: 400;
  src: local('Gudea Italic'), local('Gudea-Italic'), url(fonts/gudeaitalic-2lzgdQv1s_qlZBQOy-AQyg.woff) format('woff');
}
@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: local('Gudea'), url(fonts/gudearegular-L-wjm3klh4c_5nq9hKWdkw.woff) format('woff');
}
