[Desktop Entry]
Name=Plan Federal Juana Manso
GenericName=Plan Federal Juana Manso
Comment=Aulas virtuales, recursos y herramientas para acompañarte durante la emergencia sanitaria.
Keywords=huayra;internet;redes;
Categories=Huayra;
Exec=xdg-open https://juanamanso.edu.ar/
Icon=huayra-juana-manso
StartupNotify=true
Terminal=false
Type=Application
