[Desktop Entry]
Name=Huayra Flying Cow
Name[es]=Huayra Vaca Voladora
Comment=Bubbles the Huayra Cow around the screen
Comment[es]=Mueve la vaca de Huayra alrededor de la pantalla
Exec=/usr/lib/mate-screensaver/floaters /usr/share/huayra-mate-screensavers/vaca_vuela_sola.svg
StartupNotify=false
Terminal=false
Type=Application
Categories=MATE;Screensaver;
OnlyShowIn=MATE;
