[Desktop Entry]
Name=Crear icono de huayra-grooming
Comment=Crear icono de huayra-grooming en el escritorio
Exec=xdg-desktop-icon install --novendor /usr/share/applications/huayra-grooming.desktop
Icon=huayra-grooming
Terminal=false
Type=Application
Categories=Settings;System;
