[Desktop Entry]
Name=Crear icono del Plan Federal Juana Manso
Comment=Crear icono del Plan Federal Juana Manso en el escritorio
Exec=xdg-desktop-icon install --novendor /usr/share/applications/huayra-juana-manso.desktop
Icon=huayra-juana-manso
Terminal=false
Type=Application
Categories=Settings;System;
